name: ci

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Test api
        run: go test ./... -cover

      - name: Install gosec
        run: go install github.com/securego/gosec/v2/cmd/gosec@latest

      - name: Run gosec
        run: |
          # Add the Go bin directory to the PATH for subsequent steps
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
          # Now run it
          $(go env GOPATH)/bin/gosec ./...

  Style:
    name: Style
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          go-version: "1.25.1"

      - name: Install staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@latest

      - name: Check coding format
        run: test -z $(go fmt ./...)

      - name: Run staticcheck
        run: |
          # Add the Go bin directory to the PATH for subsequent steps
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
          # Now run it
          $(go env GOPATH)/bin/staticcheck ./...

